@model UserVimeoVideoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>User Video Permission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VimeoVideoId" class="control-label"></label>
                <select asp-for="VimeoVideoId" class="form-control" asp-items="ViewBag.Videos"></select>
                <span asp-validation-for="VimeoVideoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiredDate" class="control-label"></label>
                <input asp-for="ExpiredDate" type="date" class="form-control" />
                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
